* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

p {
    text-align: justify;
    font-size: 18px;
}

ul li {
    font-size: 18px;
    text-decoration: none;
    list-style: none;
}

.figure img{
    width: 100%;
}


#bannerimage1 {
    background-image: url(../images/banner1.jpg);
    height: 400px;
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;    
}

#bannerimage2 {
    /* width: 100%; */
    background-image: url(../images/banner2.webp);
    height: 400px;
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;    
}

#bannerimage2 h1 {
    color: white;
    padding-top: 200px;
}

#bannerimage2 span {
    position: absolute;
    color: white;
    top: 350px;
    right: 20px;
}

#bannerimage1 span {
    position: absolute;
    color: white;
    top: 350px;
    right: 20px;
}

#bannerimage1 h1 {
    color: white;
    padding-top: 200px;
}

#navbar {
    position: fixed;
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    z-index: 9;
    width: 100%;
    background-color: white;
}

#navimg {
    text-align: center;
    height: 64px;
    /* padding-left: 32px; */
    width: 10%;

}

#navimg img {
    border-radius: 50%;
    width: 48px;
    margin-top: 8px;
}

#navlinks {
    height: 64px;
    width: 80%;
}

@media only screen and (max-width: 720px) {
    #navbar {
        flex-direction: column;
        width: 100%;
    }

    #navimg {
        width: 100%;
    }
    
    
    #navlinks {
        height: 64px;
        width: 100%;
    }
  }